<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>欢迎来到管理员</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-equiv=refresh content=60; >
 {% include "head.html" %}
</head>

<!-- ======== @Region: body ======== -->

<body class="page-about">
  <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
  <div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.8">

    <!-- ======== @Region: #navigation ======== -->
    {% include "navbar.html" %}
  </div>

  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container" id="about">
      <div class="row">
        <!--main content-->
        <div class="col-md-9 col-md-push-3">
            <h2 class="block-title">
                管理员
                <small>欢迎回来 <a href="#" data-toggle="tooltip" data-placement="top" title="Right you are!"> {{session.username}} </a></small>
              </h2>
          <div class="block block-border-bottom-grey block-pd-sm">
            {% include 'includes/_messages.html' %}
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                  <div class="panel-body ">
                    <a href="/dashboard#orders"><h4><i class="fa fa-cogs"></i> <b>命令</b></h4></a>
                    <small>我有 <span data-counter-up>{{o}}</span> 命令</small>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                  <div class="panel-body ">
                    <a href="/product"><h4><i class="fa fa-cogs"></i> <b>列出产品</b></h4></a>
                    <small>数据产品, 添加产品</small>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                  <div class="panel-body ">
                    <a href="/datasales"><h4><i class="fa fa-cogs"></i> <b>销售业绩</b></h4></a>
                    <small>销售数据, 概括</small>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                  <div class="panel-body ">
                    <a href="/setting"><h4><i class="fa fa-cogs"></i> <b>设置</b></h4></a>
                    <small>管理员设置，提前设定</small>
                  </div>
                </div>
              </div>
          </div>
            <h3 class="block-title">
              命令
              </h3>
              <div id="orders">
              <table id="product" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>代码订单</th>
                    <th>账号</th>
                    <th>用户名</th>
                    <th>名称产品</th>
                    <th>价钱</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for orders in orders %}
                  <tr>
                    <td>{{orders.id_orders}}</td>
                    <td>{{orders.id_users}}</td>
                    <td>{{orders.username}}</td>
                    <td><a href="/viewproduct?view={{orders.id_phone}}">{{orders.phone}}</a></td>
                    <td>¥ {{orders.price}}</td>
                    <td>
                      <div class="row">
                           <div class="col-lg-12">
                            {% if orders.status == 'confirm' %}
                            <a href="/datasales" class="btn btn-xs btn-success"><i class="fa fa-get-pocket"></i></a>
                            {% else %}
                            <a href="/orders?shipping={{orders.id_users}}" class="btn btn-xs btn-primary"><i class="fa fa-truck"></i></a>
                            {% endif %}
                          </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          <div class="block-highlight block-pd-h block-pd-sm">
            <h3 class="block-title">
                Motive
              </h3>
            <p class="text-fancy">{{adr.motive}}</p>
          </div>
        </div>
        <!-- sidebar -->
        <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="/dashboard" class="first">
                  管理员
                  <small>{{session.username}}</small>
                </a>
            </li>
            <li>
              <a href="/product">
                  列出产品
                  <small>数据产品, 添加产品</small>
                </a>
            </li>
            <li>
              <a href="/datasales">
                  销售业绩
                  <small>销售数据, 概括</small>
                </a>
            </li>
            <li>
              <a href="/articles">
                  文章
                  <small> 文章设定 </small>
                </a>
            </li>
            <li>
              <a href="/datausers">
                  所有用户
                  <small> 查看详情  </small>
                </a>
            </li>
            <li>
              <a href="/setting">
                  设置
                  <small> 管理员设置，地址，通用设置，提前设定 </small>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/_footer_dashboard.html" %}
  {% include "scripts.html" %}
</body>

</html>
