<!DOCTYPE html>
<!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:description" content="">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="{{url_for('static', filename='img/icons/favicon.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='img/icons/114x114.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='img/icons/72x72.png')}}">
<link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/icons/default.png')}}">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">
<!-- Bootstrap CSS File -->
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
<!-- Libraries CSS Files -->
<link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='owlcarousel/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='owlcarousel/owl.theme.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='owlcarousel/owl.transitions.min.css')}}">

<!-- Main Stylesheet File -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='datatables/dataTables.bootstrap.css')}}">
