<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>欢迎来到管理员</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 {% include "head.html" %}
</head>

<!-- ======== @Region: body ======== -->

<body class="page-about">
  <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
  <div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.8">

    <!-- ======== @Region: #navigation ======== -->
    {% include "navbar.html" %}
  </div>

  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container" id="about">
      <div class="row">
        <!--main content-->
        <div class="col-md-9 col-md-push-3">
          <h3 class="block-title">
              设置
              <small>你的帐户</small>
            </h3>
          <div class="block block-border-bottom-grey block-pd-sm">
            <ul class="nav nav-tabs">
              <li><a href="user?user={{result.id}}" ><i class="fa fa-user"></i></a></li>
              <li class="active"><a href="users?password={{result.id}}"><i class="fa fa-unlock-alt"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
                <!-- Content -->
                <div class="form">
                  <div id="sendmessage">{% include 'includes/_messages.html' %}</div>
                  <div id="errormessage">{% from "includes/_formhelpers.html" import render_field %}</div>
                  {% if result %}
                  <form method="POST" action="/setting/users?password={{result.id}}">
                    <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                      <div class="form-group">
                        {{ render_field(form.password, class_="form-control", value=result.password, placeholder="新密码") }}
                        <!-- <input type="text" name="username" class="form-control" value="{{ result.username }}"  placeholder="New Username"> -->
                    </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                      <div class="form-group">
                      {{ render_field(form.confirm, class_="form-control", placeholder="重复新密码") }}
                        <!-- <input type="text" name="email" class="form-control" value="{{ result.email }}"  placeholder="New Email"> -->
                    </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <div class="checkbox">
                      <label>
                          <!-- <input name="remember" type="checkbox" value="Terms"> -->
                          {{render_field(form.accept_tos)}}
                          我同意 <a href="#">terms and conditions</a>.
                        </label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <div class="text-right"><button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-send-o"></i> 更新</button>
                    </div>
                  </div>
                  </form>
                  {% endif%}
                </div>
              </div>
            </div>



            </div>

        </div>
        <!-- sidebar -->
        <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="/user/{{session.username}}">
                  管理员
                  <small>{{session.username}}</small>
                </a>
            </li>
            <li class="active">
              <a href="/setting/user?user={{session.uid}}" class="first">
                  设置
                  <small>地址和高级设置</small>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/_footer_dashboard.html" %}
  {% include "scripts.html" %}
</body>

</html>
